FAL_KEY=your_fal_api_key_here
STORAGE_DIR="/path/to/storage"
ENABLE_LIPSYNC=false
LIPSYNC_RESOLUTION=480p
TRACKER_BACKEND=movie_like_shots
TRACKER_TYPE=ocsort
TRACKER_DEVICE=auto
TRACKER_DET_SIZE=640
TRACKER_DET_THRESH=0.35
TRACKER_NMS_THRESH=0.4
TRACKER_NUM_BINS=64
TRACKER_SHOT_CHANGE_THRESHOLD=0.4
TRACKER_SIMILARITY_THRESHOLD=0.4
TRACKER_USE_SHOT_CHANGE=true
TRACKER_USE_SHARED_MEMORY=true
TRACKER_TIMEOUT_SECONDS=600
FRAME_SUBSAMPLE=5
DUMMY_TRACKING=false
