[submodule "face-detect-track"]
	path = face-detect-track
	url = https://github.com/tonyyunyang/face-detect-track.git
	branch = main
[submodule "facefusion-VEED"]
	path = facefusion-VEED
	url = https://github.com/tonyyunyang/facefusion-VEED.git
	branch = main
